a:link,a:active,a:visited,a:hover{color:black;text-decoration: none}
*{box-sizing: border-box}
p{margin-bottom: 0}
/*首页*/
  /*头部*/
#logout{display: none}
.index_header{background-color: #f2f2f2;position: relative}
.index_header_link a{padding:8px 12px;display: inline-block;font-size:12px!important;}
.index_header_sign{text-align: right}
.index_header_sign a{margin:8px 0;padding:0 8px;display: inline-block;font-size:12px}
.index_header_sign a:nth-of-type(1){border-right:1px solid gray}
.index_header_sign a:nth-of-type(3){color:#3597d4}
.index_header_one{overflow: hidden}
.index_header_one>div:nth-of-type(1){float:right;width:30%;}
.index_header_one>div:nth-of-type(2){float:right;width:70%;}
.index_logo_img img{width:24%}
.index_logo_img span span{margin-left:10px;font-size:18px;}
.index_logo_call{padding:20px;text-align: right}
/*nav*/
.index_nav{background-color: #292f3b}
.index_nav_content{padding:10px 0 7px 0;}
.index_nav_content div{margin-top:10px}
.index_nav_content a{color:white;padding:8px 24px;border-radius: 3px 3px 0 0;font-size:16px;}
.index_nav_active{background-color: white;color:#3597d4!important;}
/*banner*/
.index_banner>div{padding:0!important;}
.index_banner img{width:100%}
/*我们的优势*/
.index_advan{margin-top:36px;padding-bottom:40px;}
.index_advan_img img{width:100%}
.index_advan_img{padding-bottom:36px;}
.index_advan_title,.index_advan_img{border-bottom: 1px solid lightgray;margin-bottom:30px;}
.index_advan_title p{margin-bottom: 5px!important;font-size:18px;font-weight: 600;color:#3597d4}
.index_advan_p p{text-indent: 2em;line-height: 24px;margin-bottom:10px;}
.index_hot_content>div:nth-of-type(3),.index_hot_content>div:nth-of-type(4){margin-top:20px;}
/*热门报价单*/
.index_hot{background-color: #f2f2f2;padding-top:38px;padding-bottom:44px}
.index_hot_title p{font-size:18px;font-weight: 600;color:#3597d4;width:90px;margin:0 auto}
.index_hot_content{overflow: hidden;margin-top:36px}
.index_hot_content>div{background-color: white;border-radius: 5px;float:left}
.index_hot_content_one{overflow: hidden;width:47%;margin-right:3%}
.index_hot_content_one div:nth-of-type(1){width:30%;float:left;padding:14px}
.index_hot_content_one div:nth-of-type(2){width:70%;float:right;padding:14px 18px 14px 10px}
.index_hot_content_one div:nth-of-type(1) img{width:100%}
.index_hot_price{color:#3597d4;font-size:12px;margin-top:20px;}
.index_hot_content_two{overflow: hidden;width:47%;margin-left:3%}
.index_hot_content_two div:nth-of-type(1){width:30%;float:left;padding:14px}
.index_hot_content_two div:nth-of-type(2){width:70%;float:right;padding:14px 18px 14px 10px}
.index_hot_content_two div:nth-of-type(1) img{width:100%}
.index_hot_content_a{overflow: hidden;margin-top:24px}
.index_hot_content_a>div{background-color: white;border-radius: 5px;float:left}
/*购买流程*/
.index_buy{margin-top:36px;padding-bottom: 120px}
.index_buy_content>div{padding:5px!important;}
.index_buy_content div{text-align: center}
.index_buy_content div:nth-of-type(2)>div,.index_buy_content div:nth-of-type(3)>div,.index_buy_content div:nth-of-type(4)>div,.index_buy_content div:nth-of-type(5)>div,.index_buy_content div:nth-of-type(6)>div{border:1px solid #3597d4;border-radius: 50%;margin:0 auto;width:100%;}
.index_buy_content div:nth-of-type(2) img,.index_buy_content div:nth-of-type(3) img,.index_buy_content div:nth-of-type(4) img,.index_buy_content div:nth-of-type(5) img,.index_buy_content div:nth-of-type(6) img{width:36%;margin:auto;margin-top:29%}
.index_buy_content p{margin-top:16px;color:#3597d4}
.index_buy_content>div{position: relative; }
.index_buy_content span{position: absolute;right:0;top:30px;color:#3597d4;font-size:20px;}



/*热销报价*/
.hot_list{overflow: hidden}
.hot_list>div{float:left;width:45%}
.hot_list>div:nth-of-type(1){margin-left:3%}
.hot_list>div:nth-of-type(2){margin-left:4%}

.hot_content{background-color: white!important;}
.hot_content .index_hot_content_a>div,.hot_content .index_hot_content>div{border:1px solid #3597d4 ;border-radius: 16px!important;}
.hot_list>div:nth-of-type(1),.hot_list>div:nth-of-type(2){;border:1px solid #3597d4;border-radius: 12px;position: relative;padding:0 15px 50px 15px;}
.hot_list_title{text-align: center;font-size:15px;color:#3597d4;padding:24px 0 20px 0;font-weight:600}
.hot_list_content{font-size:13px;line-height: 20px}
.hot_list_index{margin-top:18px;}
.hot_list_news,.hot_list_video{margin-top:8px;}
.hot_list_index a,.hot_list_news a,.hot_list_video a{color:#3597d4;font-size:13px;}
.hot_list_money{position: absolute;right:30px;bottom:30px;font-size:15px}
.hot_list_info{position: absolute;right:30px;bottom:10px;font-size:12px;}
.hot_list_info a{color:#3597d4}
.hot_content_one>div:nth-of-type(3){margin-top:30px;}
/*.hot_list_active{background-color:#3597d4;color:white!important; }*/
/*.hot_list_active a{color:white!important;}*/
/*.hot_list_active .hot_list_title{color:white!important;}*/
.hot_buy{background-color: #f2f2f2!important;padding-top:50px;}


/*组合报价*/
.combination_tab{overflow: hidden}
.combination_tab div{margin-bottom:10px;cursor: pointer;float:left;padding:4px 17px;border:1px solid #3597d4;border-radius: 50px;margin-right:15px;}
.combination_tab_active{background-color:#3597d4;color:white }
.combination_tab_content table tr th{text-align: center;background-color: #f2f2f2;padding:8px}
.combination_tab_content table tr td{padding:20px 10px;border:1px solid #f5f5f5;text-align: center}

.combination_tab_content{margin-top:18px;}
.combination_tab_content>div{display: none}
.combination_tab_content_show{display: block!important;}
.combination_have table tr th{text-align: center;background-color: #f2f2f2;padding:8px}
.combination_have table tr td{padding:20px 10px;border:1px solid #f5f5f5;width:20%;text-align: center}
.combination_have{margin-top:28px;}

.combination_have{margin-top:5px!important;}
.combination_finished_info>div{overflow: hidden;margin-top:40px;}
.combination_finished_info>div:nth-of-type(2){margin-top:20px!important;}
.combination_finished_info>div div{float:left}
.combination_finished_info>div div:nth-of-type(1){width:10%;}
.combination_finished_info>div div:nth-of-type(2){width:40%}
.combination_finished_info_btn{color:white;cursor: pointer;text-align: center;padding:8px 10px;width:150px;margin:0 auto;background-color:#3597d4;border-radius: 50px; }
.combination_finished_info_btn a{color:white;}
.combination_finished_info input,.combination_finished_info textarea{width:100%;border-radius: 20px;border:1px solid gray;padding:5px 10px;}
.combination_have_pay{overflow:hidden}
.combination_have_pay>div{float:left;width:50%;padding-left:10%;margin-top:40px;}
.combination_have_pay>div p{display: inline-block;margin-right:15px;}
.combination_have_pay>div p:nth-of-type(2){text-align: center;border:1px solid gray;width:150px;padding:6px 20px;border-radius: 50px;}
.combination_have_btn{overflow: hidden}
.combination_have_btn div{float:left;width:50%;}
.combination_have_btn div p{color:white;background-color:#3597d4;padding:6px 20px;width:180px;text-align: center;border-radius: 25px; }
.combination_have_btn div:nth-of-type(1) p{margin-left:50%;margin-top:40px}
.combination_have_btn div:nth-of-type(2) p{margin-left:10%;margin-top:40px;}
.need{background-color: #3597d4;padding:10px 15px 25px 15px;color:white}
.need p{margin-top:15px;}
.need_all{margin-top:30px;}
@media (max-width: 370px) {
    .index_header_link a{padding:5px 8px;}
    .index_nav_content a{padding:5px 12px}
    .index_nav_content{padding:10px 0 5px 0;}
}
@media (max-width: 767px) {
    .index_hot_content_one,.index_hot_content_two{width:100%;margin-left:0!important;margin-top:20px;}
    .index_hot_content_one div:nth-of-type(1){width:100%}
    .index_hot_content_one div:nth-of-type(2){width:100%}
    .index_hot_price{margin-top:5px;}
    .index_hot_content_one div:nth-of-type(2){padding:8px 10px}
    .index_hot_content_two div:nth-of-type(1){width:100%}
    .index_hot_content_two div:nth-of-type(2){width:100%}
    .index_hot_price{margin-top:5px;}
    .index_hot_content_two div:nth-of-type(2){padding:8px 10px}
    .index_hot_content_a{margin-top:0!important;}
    .index_buy_content span{display: none}
    .index_buy_content>div{margin-bottom:20px;}
    .hot_list>div{float:left;width:94%}
    .hot_list>div:nth-of-type(1){margin:10px 3%}
    .hot_list>div:nth-of-type(2){margin:10px 3%}
    .hot_content_one>div:nth-of-type(3){margin-top:0!important;}
    .index_header_one{overflow: hidden}
    .index_header_one>div:nth-of-type(1){float:right;width:100%;}
    .index_header_one>div:nth-of-type(2){float:right;width:100%;text-align: center}
    /*.index_header_link{position: absolute;top:35px;}*/
    /*.index_header_sign{position: absolute;right:10px;top:5px;}*/
    .index_logo_img img{width:34%}
    .index_logo_img span span{font-size:14px;}
   .index_logo_call{padding:5px;}
   .combination_finished_info>div div:nth-of-type(1){width:30%}
    .combination_finished_info>div div:nth-of-type(2){width:60%}
    .combination_have_pay>div{width:100%}
    .combination_have_btn div{width:100%}
    .combination_have_btn div:nth-of-type(1) p{margin-left:20%}
    .combination_have_btn div:nth-of-type(2) p{margin-top:20px;margin-left:20%}
    /*.index_logo_call{position: fixed;top:5px;left:5px;}*/
    .index_advan_title p{text-align: center;}
    .two_white{width:70%!important;left:15%!important;}
    .bg_login_content form div{width:60%;}

    .swiper-pagination{display: none}
    .index_banner{height:130px;}
    .index_banner img{height:130px;}
}

@media (min-width:768px) and (max-width:1024px){
    .combination_finished_info>div div:nth-of-type(1){width:15%}
    .combination_finished_info>div div:nth-of-type(2){width:50%}
    .two_white{width:70%}

}
@media (min-width: 768px) {
    b{display: inline!important;font-weight:400!important;}
    .index_buy_content div:nth-of-type(2)>div, .index_buy_content div:nth-of-type(3)>div, .index_buy_content div:nth-of-type(4)>div, .index_buy_content div:nth-of-type(5)>div, .index_buy_content div:nth-of-type(6)>div{width:70%}

}
@media (max-width: 370px) {
    .combination_have_pay>div p:nth-of-type(2) {
    width: 100px;
    
}


}
b{display: block;font-weight:400!important;}
.two_table_one,.two_table_two{width:100%}
.two_remove,.two_add{cursor: pointer}
.two_table_one tr th:nth-of-type(1),
.two_table_one tr td:nth-of-type(1),
.two_table_one tr th:nth-of-type(2),
.two_table_one tr td:nth-of-type(2),
.two_table_two tr th:nth-of-type(1),
.two_table_two tr td:nth-of-type(1){display: none}

.two_white{display: none;border-radius: 10px;font-size:18px;font-weight:600;text-align: center;padding:50px 0;position: fixed;top:30%;left:36%;width:30%;color:white;background-color: rgba(128, 128, 128, 0.5);z-index:10;
}
.two_white div{cursor: pointer;margin:20px auto;background-color: white;border-radius: 25px;padding:5px 10px;color:#3597d4;width:30%;font-size:14px!important;}
/*首页轮播图*/
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
    color:#fff;
    background: #007aff;
}



